*, *::after, *::before{
    box-sizing: border-box;
}
body{
    display: grid;
    justify-items: center;
    white-space: nowrap;
}
button{
    cursor: pointer;
}
.content{
    margin-top: 150px;
    padding: 25px;
    background-color: #d7c8e7;
    width: 50vw;
    min-width: fit-content;
    justify-items: center;
}
p{
    margin: 5px;
}
.green{
    background-color: #d9ead3;
}
.yellow{
    background-color: #fff2cc;
}
.red{
    background-color: #f4cccc;
}

/*Midlertidig fargevalg for gjennomgående felles tema*/
.hovedfarger{
    color: #9874cd;
    border-color: #b89eda;
    background-color: #d7c8e7;
}

label{
    margin: 5px;
    cursor: pointer;
}

input{
    cursor: pointer;
}