.inputWrap{
    margin: 10px;
    background-color: #b89eda;
    color: black;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.optimalBedtimeWrap{
    display: inline-grid;
    grid-template-columns: auto;
}

.radio{
    margin-bottom: 0px;
    margin-top: 0px;

}

.notesWrap{
    background-color: #b89eda;
    color: black;
    width: fit-content;
    display: grid;
    grid-template-rows: 1fr 1fr; 
    margin: 10px;

}

.dateinput{
    margin-left: 10px;
}

.SaveInputBtn{
    background-color: #b89eda;
    border-color: #9874cd;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 15px;
    margin: 10px;
}

.saved{
    grid-template-columns: 1fr;

}