table, tr, td, th{
    border: 1px solid lightgrey;
    border-collapse: collapse;
}
td, th{
    padding: 4px;
}
td{
    text-align: right;
}
th{
    border: 1px solid grey;
}
tr:nth-child(even){
    background: #B89EDA;
}
tr:nth-child(odd){
    background: #d7c8e7;
}