body{
    display: grid;
    justify-items: center;
    white-space: nowrap;
    background-color: #2c2d31;
}

.green{
    background-color: #d9ead3;
}
.yellow{
    background-color: #fff2cc;
}
.red{
    background-color: #f4cccc;
}