header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logoSidebar{
    padding: 5px;
    margin: 0;
    font-size: 75px;
    color: #050505;
    top: 0;
    align-items: center;
    font-family: "Lobster", sans-serif;
    text-shadow: 2px 2px rgb(203, 203, 203);
    cursor: pointer;
    text-decoration: underline;
}

.welcomeUserText{
    font-family: sans-serif;
    font-size: 35px;
    text-shadow: 1px 1px #b89eda; 
}

.sidebar-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 0px 1%;
    background-color:  #9874cd;
}
.sidebar-container .username-container{
    font-size: 25px;
    justify-self: start;
    align-items: start;
}
.sidebar-container div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar-container .sidebar-button-container{
    justify-self: end;
}

.sidebar-container div button{
    margin: 1em;
    aspect-ratio: 1/1;
    border-radius: 50%;
   
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-container img{
    width: 30px;
    height: 30px;
}

.img-moon{
    background-image: url(../Media/moon.png);
}
.img-sun{
    background-image: url(../Media/sun.png);
}
.dark-mode-button-img{
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 2px solid black;
}

.menuButton{
    border: 2px solid black;
    background-color: transparent;
}
.triggered{
    border: 3px solid #FCF3F7;
}

@media(max-width: 700px){
    #main{
        margin-top: 100px;
    }
    .sidebar-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        justify-items: center;
        text-align: center;
        padding: 0.5em;
    }
    .sidebar-container .username-container {
        justify-self: start;
    }
    .logoSidebar{
        font-size: 45px;
    }
    .welcomeUserText{
        font-size: 20px;
    }
    .sidebar-container div button{
        height: 40px;
        width: 40px;
        margin: 0.5em;
    }
    .sidebar-container img{
        width: 25px;
        height: 25px;
    }
}