header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.sidebar-container div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 186, 186);
}

.sidebar-container div button{
    margin: 1em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;
}

.sidebar-container img{
    width: 30px;
    height: 30px;
}