table, tr, td, th{
    border: 1px solid lightgrey;
    border-collapse: collapse;
}
td, th{
    padding: 4px;
}
td{
    text-align: right;
}
th{
    border: 1px solid #d7c8e7;
}
tr:nth-child(even){
    background: #9874cd;
}
tr:nth-child(odd){
    background: #b89eda;
}
.nyLoggBtn{
    background-color: #b89eda;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
}