body{
    display: grid;
    justify-items: center;
    white-space: nowrap;
}

.content{
    margin-top: 150px;
    background-color: #d7c8e7;
}
p{
    margin: 5px;
}
.green{
    background-color: #d9ead3;
}
.yellow{
    background-color: #fff2cc;
}
.red{
    background-color: #f4cccc;
}

/*Midlertidig fargevalg for gjennomgående felles tema*/
.hovedfarger{
    color: #9874cd;
    border-color: #B89EDA;
    background-color: #d7c8e7;
}