
.logoLoginPage{
    font-size: 40px;
    color: #a377e6;
    top: 0;
    font-family: "Lobster", sans-serif;
    text-shadow: 3px 3px black;
    text-decoration: underline;
}

.logInText{
    font-family: sans-serif;
    text-decoration: underline;
    align-items: center;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
}

.logInWrapper{
    text-align: center;
    align-items: center;
    height: 325px;
}

.logInBtn{
    background-color: #b89eda;
    font-size: 15px;
    border-radius: 5px;
    border-color: #9874cd;
}