header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logoSidebar{
    padding: 5px;
    margin: 0;
    font-size: 65px;
    color: #9874cd;
    top: 0;
    align-items: center;
    font-family: "Lobster", sans-serif;
    text-shadow: 2px 2px black;
    cursor: pointer;
}

.sidebar-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 0px 1%;
    background-color: rgb(189, 186, 186);
}
.sidebar-container .username-container{
    font-size: 25px;
    justify-self: start;
    align-items: start;
}
.sidebar-container div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sidebar-container .sidebar-button-container{
    justify-self: end;
}

.sidebar-container div button{
    margin: 1em;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;

    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-container img{
    width: 30px;
    height: 30px;
}

.img-moon{
    background-image: url(../Media/moon.png);
}
.img-sun{
    background-image: url(../Media/sun.png);
}
.dark-mode-button-img{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}