.avgDisplayHomepage{
    border: 1px solid;
    border-color: black;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
    display: grid;
    place-items: center;
}
#statsHomepage{
    display: flex;
    margin-bottom: 25px;
}
#newLogHomepage{
    width: 100px;
    height: 40px;
    background-color: lightgray;
    border: 1px solid;
    cursor: pointer;
}
.optimalBedtimeBtn{
    background-color: #b89eda;
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 5px;
}